img
{
    position: sticky;
    top: 0;
    
   
}
h1{
    position: relative;
    top: 40px;
    left: 40%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 41, 41);
    color: white;
    font-size: 25pt;
    padding: 10px;
    text-align: center;
}


/*relative from its normal position it will change

absolute-overalapping and from browser it will change its position